body {
    background-color: #ccc; 
}
header {
    background-color: #ccc;
}
nav a:hover {
    color: white;
    background-color: steelblue;
}

.book, .join  {
    background-color: #ccc;
}
#content  {
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
}

nav a {
    text-align: center;
}

#hero-msg h1, #hero-msg h4  {
    text-align: center;
}

.button-box  {
    text-align: center;
}

#background  {
    height: 725px;
}
