@import url(https://www.cssfontstack.com/Brush-Script-MT);

body {
    background-color: #ccc; 
    font-family: 'Brush-Script-MT', 'Pacifico', 'Amatic SC';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.home-title {
    margin-top: 10px;
    font-family: 'Brush-Script-MT', 'Pacifico', 'Amatic SC';
    font-size: 2em;
}

header {
    background-color:skyblue;
}
nav a:hover {
    color: white;
    background-color: steelblue;
}

.rivers-card, .camping-card, .rapids-card  {
    margin: 200px 0;
}

.book, .join {
    margin-top: 50px;
    background-color: yellow;
    font-size: 18;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;

}

.book:hover,  .join:hover  {
    background-color: blue;
    color: #ccc;
}

.card-img  {
    border: 10px skyblue;
}


main section img {
    box-sizing: border-box;
}




#content  {
    max-width: 1600px;
    margin: 0 auto;
    
}

nav a {
    text-align: center;
    color: cornflowerblue;
    text-decoration: none;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer .social img {
    padding-top: 15px;
    width: 80px;
}


#hero-msg h1, #hero-msg h4  {
    text-align: center;
}

.button-box  {
    text-align: center;
}

#background  {
    height: 725px;
    background-color: whitesmoke;
}

.mountains  {
    width: 50%;
}

.msg  {
    background-color: #ccc;
    line-height: 1.5em;
    padding: 35px;
}

footer  {
    margin-top: 200px;
    background-color: skyblue;
    color: palegreen;
}

footer a  {
    color: aqua;
    text-decoration: none;
    padding: 25px 50px;
}


.msg h2  {
    color: rgb(12, 37, 37);
}

.msg p  {
    color: rgb(15, 66, 66);
    font-size: 1.2em;
    padding-bottom: 15px;
}


.home-title  {
    color: rgb(52, 56, 56);
}

h4  {
    color: rgb(48, 56, 56);
}


.logo  {
    width: 80px;
}

#hero-img  {
    width: 100%;
}

footer p {
    font-size: 1.4em;
} 

footer p a:hover {
    text-decoration: underline;
}  

nav a  {
    font-size: 1.5em;
    padding: 35px;
}

h2 {
    margin: 0;
}

#logo-link  {
    padding-top: 5px;
}

.home-grid  {
    margin: 0 auto;
}